# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PhpStorm Programming Works\php7MasteringCourse\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
